
	<%- include("partials/header")%>
		
<div class="container">
	
   <div class="card shadow-lg p-3 mb-5 bg-body rounded" id="home">
	   <div class="login-form">
		 <form action="/home" method=POST onsubmit="show()">
			 <label for="value">Input Values:</label>
			 <input class="form-control" type="text"id="values" name="values" onchange="myFunction()"><br>
			 <label for="item">Search Value:</label>
		    <input class="form-control"type="string" id="item" name="item" onchange="myfunc()"><br>
			 <input type="hidden" id="sorted_arr" name="sorted_arr" >
			  <input type="hidden" id="date_time" name="date_time" >
			 <div class="d-grid gap-2">
				  <button  class="btn btn-success" type="submit" id="add" >
				  Khoj
			 </button>
                    
               </div>
			 
			</form>
			<h6 class="mt-3">
				Result: <span id="result">  </span>
				
			</h6>
	   </div>

	</div>
</div>

	
	
  		 <script src="/scripts.js ">

     </script>	
         	
	

	<%- include("partials/footer")%>

	
	