	<%- include("partials/header")%>





<div class="container">


<div class="card shadow-lg p-3 mb-5 bg-body rounded">
	<div class="text-center  fs-3 text">
		Log-In
	</div>
	<div class="container">
	<div class="login-form">
		<form action="/login" method="POST" class="add-form">

<label for="username">Username</label>
	<input class="form-control" type="text" name="username" placeholder="username" required >
			<br>
			<label for="password">Password</label>
	<input class="form-control" type="password" name="password"  placeholder=" password" required>
			<br>
	<button class="btn btn-primary form-control" type="submit" >

		Login
	</button>
			<br><br>
</form>
		<div  class="text-center fs-6 text text-muted">

				New to this website?  <a href="/signup" >Sign Up</a>

		</div>
	</div>

	</div>
</div>

</div>













	<%- include("partials/footer")%>
