	<%- include("partials/header")%>



<div class="container">
	

<div class="card shadow-lg p-3 mb-5 bg-body rounded">

	<div class="text-center  fs-3 text">
		Sign-Up
	</div>

<div class="container">
	<div class="login-form">
		
			<form action="/signup" method="POST" class="add-form">
				
				<label for="username">Username</label>
	<input class="form-control" type="text" name="username" placeholder="username" required ><br>
					<label for="email">Email address</label>
	
	<input class="form-control"  type="email" name="email"  title="please eneter a correct email address" placeholder="john@gmail.com" required >
				<br>
					<label for="password">Password</label>
				
	<input class="form-control" type="password" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z]).{8,}" title="Password must  contain at least one number and one lowercase letter, and at least 8 or more characters" 
		   placeholder=" password" required><br>
					<label for="confirm_password"> Confirm Password</label>
				
				 <input type="password"  class="form-control"placeholder="Confirm Password" id="confirm_password" required><br>
	<button class="btn btn-primary" type="submit" style="margin-left: 170px; ">
		Sign Up
	</button>
</form>
		<div  class="text-center fs-6 text text-muted">
			
				Already have an account?  <a href="/login" >Log In</a>
			
		</div>

	</div>

	
</div>

</div>

	
</div>






 <script src="/confirm_pass.js ">

     </script>









	<%- include("partials/footer")%>